@import '@/assets/styles/_global.scss';

.Introduction {
  position: relative;
  margin-top: -11rem;
  padding-top: 11rem;

  @media (max-width: 991px) {
    padding: 6rem 0 2.4rem;
    margin-top: -6.5rem;
    padding-top: 6rem;
  }

  &-background {
    @include fullAbsolute;
    z-index: 1;
  }

  &-btn {
    @media (max-width: 575px) {
      justify-content: center;
    }
  }

  &-wrapper {
    position: relative;
    z-index: 2;
    padding: 3rem 0;
    min-height: calc(100vh - 4.6rem - 11rem);

    @media (max-width: 991px) {
      min-height: calc(100vh - 8.5rem);
    }
  }

  &-title {
    font-size: 8rem;
    font-weight: 700;
    color: $mine-shaft;
    margin-top: 0;
    margin-bottom: 3.2rem;

    @media (max-width: 991px) {
      font-size: 4rem;
      margin-bottom: 1.6rem;
    }
  }

  p {
    font-size: 2.4rem;
    color: $mine-shaft;
    margin-bottom: 3.2rem;

    @media (max-width: 991px) {
      margin-bottom: 1.6rem;
    }
  }

  &-image {
    margin: 0 auto;
    @include centerOriginImage;

    @media (max-width: 991px) {
      max-width: 60rem;
    }
  }
}