/*
- Please follow this tool to name your color, then please define the color in src/common-types/ui.ts also
  https://chir.ag/projects/name-that-color/#6195ED

- If colors same name, please add suffix. Ex: persian-blue, persian-blue-dark, persian-blue-light, ...
*/

$white: #ffffff;
$black: #000000;

$ebony-clay: #222631;
$candlelight: #FDD116;
$mine-shaft: #333333;
$gallery: #EEEEEE;
$shuttle-gray: #5E6B7E;
$comet: #5C6077;
$silver: #C2C2C2;
$dodger-blue: #377DFF;
$shark: #222325;
$gray: #858585;
$alto: #D9D9D9;